{{- $ing := . -}}
{{- $cfg := .Cfg -}}
global
    daemon
    stats socket {{ $cfg.StatsSocket }} level admin expose-fd listeners
{{- if $cfg.LoadServerState }}
    server-state-file state-global
    server-state-base /var/lib/haproxy/
{{- end}}
    maxconn {{ $cfg.MaxConn }}
{{- if ne $cfg.Syslog "" }}
    log {{ $cfg.Syslog }} format rfc5424 local0
    log-tag ingress
{{- end }}
{{- if ne $cfg.SSLDHParam.Filename "" }}
    # DH PEM checksum: {{ $cfg.SSLDHParam.PemSHA }}
    ssl-dh-param-file {{ $cfg.SSLDHParam.Filename }}
{{- else }}
    tune.ssl.default-dh-param {{ $cfg.SSLDHParam.DefaultMaxSize }}
{{- end }}
    ssl-default-bind-ciphers {{ $cfg.SSLCiphers }}
    ssl-default-bind-options {{ $cfg.SSLOptions }}

defaults
    log global
{{- if $cfg.LoadServerState }}
    load-server-state-from-file global
{{- end }}
    option redispatch
    option dontlognull
    option http-server-close
    option http-keep-alive
    timeout http-request    {{ $cfg.TimeoutHTTPRequest }}
    timeout connect         {{ $cfg.TimeoutConnect }}
    timeout client          {{ $cfg.TimeoutClient }}
    timeout client-fin      {{ $cfg.TimeoutClientFin }}
    timeout server          {{ $cfg.TimeoutServer }}
    timeout server-fin      {{ $cfg.TimeoutServerFin }}
    timeout tunnel          {{ $cfg.TimeoutTunnel }}
    timeout http-keep-alive {{ $cfg.TimeoutKeepAlive }}
{{- if ne (len $ing.Userlists) 0 }}

######
###### Userlists
######
{{- range $userlist := $ing.Userlists }}
userlist {{ $userlist.ListName }}
{{- range $user := $userlist.Users }}
    user {{ $user.Username }} {{ if not $user.Encrypted }}insecure-{{ end }}password {{ $user.Password }}
{{- end }}
{{- end }}
{{- end }}

{{- if ne (len $ing.TCPEndpoints) 0 }}

######
###### TCP services
######
{{- range $tcp := $ing.TCPEndpoints }}
listen tcp-{{ $tcp.Port }}
{{- $inProxyProt := $tcp.Backend.ProxyProtocol.Decode }}
{{- $outProxyProt := $tcp.Backend.ProxyProtocol.Encode }}
    bind *:{{ $tcp.Port }}{{ if $inProxyProt }} accept-proxy{{ end }}
    mode tcp
{{- if ne $cfg.Syslog "" }}
{{- if eq $cfg.TCPLogFormat "" }}
    option tcplog
{{- else }}
    log-format {{ $cfg.TCPLogFormat }}
{{- end }}
{{- end }}
{{- range $endpoint := $tcp.Endpoints }}
{{- $target := (print $endpoint.Address ":" $endpoint.Port) }}
    server {{ $target }} {{ $target }} check port {{ $endpoint.Port }} inter {{ $cfg.BackendCheckInterval }}{{ if $outProxyProt }} send-proxy-v2{{ end }}
{{- end }}
{{- end }}
{{- end }}

######
###### Backends
######
{{- range $backend := $ing.Backends }}
backend {{ $backend.Name }}
    mode {{ if $backend.SSLPassthrough }}tcp{{ else }}http{{ end }}
    balance {{ $cfg.BalanceAlgorithm }}
{{- $sticky := $backend.SessionAffinity }}
{{- if eq $sticky.AffinityType "cookie" }}
    cookie {{ $sticky.CookieSessionAffinity.Name }} {{ $sticky.CookieSessionAffinity.Strategy }} {{ if eq $sticky.CookieSessionAffinity.Strategy "insert" }}indirect nocache{{ end }}
{{- end }}
{{- $cacert := $backend.SecureCACert }}
{{- if ne $cacert.PemSHA "" }}
    # CA PEM checksum: {{ $cacert.PemSHA }}
{{- end }}
{{- $BackendSlots := index $ing.BackendSlots $backend.Name }}
{{- range $target, $slot := $BackendSlots.FullSlots }}
    server {{ $slot.BackendServerName }} {{ $target }} {{ if $backend.Secure }}ssl {{ if ne $cacert.CAFileName "" }}verify required ca-file {{ $cacert.CAFileName }} {{ else }}verify none {{ end }}{{ end }}check port {{ $slot.BackendEndpoint.Port }} inter {{ $cfg.BackendCheckInterval }}{{ if eq $sticky.AffinityType "cookie" }} cookie {{ backendHash $slot.BackendServerName }}{{ end }}
{{- end }}
{{- range $empty := $BackendSlots.EmptySlots }}
    server {{ $empty }} 127.0.0.1:81 {{ if $backend.Secure }}ssl {{ if ne $cacert.CAFileName "" }}verify required ca-file {{ $cacert.CAFileName }} {{ else }}verify none {{ end }}{{ end }}check disabled inter {{ $cfg.BackendCheckInterval }}{{ if eq $sticky.AffinityType "cookie" }} cookie {{ backendHash $empty }}{{ end }}
{{- end }}
{{- end }}

######
###### HTTP(S) frontend
######
frontend httpfront
    mode http
    bind *:80{{ if $cfg.UseProxyProtocol }} accept-proxy{{ end }}
    bind *:443 ssl crt /ingress-controller/ssl {{ if $cfg.UseProxyProtocol }} accept-proxy{{ end }}

{{- if ne $cfg.Syslog "" }}
{{- if eq $cfg.HTTPLogFormat "" }}
    option httplog
{{- else }}
    log-format {{ $cfg.HTTPLogFormat }}
{{- end }}
{{- end }}

    acl from-https ssl_fc

    http-request set-header X-Forwarded-Proto https if from-https
    http-request del-header {{ $cfg.SSLHeadersPrefix }}-Client-Cert  if from-https
    http-request del-header {{ $cfg.SSLHeadersPrefix }}-Client-SHA1  if from-https
    http-request del-header {{ $cfg.SSLHeadersPrefix }}-Client-DN    if from-https
    http-request del-header {{ $cfg.SSLHeadersPrefix }}-Client-CN    if from-https
    http-request set-var(txn.path) path

{{- if eq $cfg.Forwardfor "add" }}
    http-request del-header x-forwarded-for
    option forwardfor
{{- else if eq $cfg.Forwardfor "ifmissing" }}
    option forwardfor if-none
{{- end }}{{/* if eq $cfg.Forwardfor "add" */}}

{{- range $server := $ing.HAServers }}
{{- $host := $server.HostnameLabel }}
{{- $hostAcl := printf "host-%v" $server.HostnameLabel }}

# {{ $server.Hostname }}
{{- if isWildcardHostname $server.Hostname }}
    acl {{ $hostAcl }} hdr_reg(host) {{ hostnameRegex $server.Hostname }}
{{- else }}
    acl {{ $hostAcl }} hdr(host) {{ $server.Hostname }} {{ $server.Hostname }}:80 {{ $server.Hostname }}:443
{{- end }}{{/* if isWildcardHostname $server.Hostname */}}

{{- if $server.HasRateLimit }}
stick-table type ip size 200k expire 5m store conn_cur,conn_rate(1s)
tcp-request content track-sc1 src
{{- range $location := $server.Locations }}
{{- $conn_cur_limit := $location.RateLimit.Connections.Limit }}
{{- $conn_rate_limit := $location.RateLimit.RPS.Limit }}
{{- if or (gt $conn_cur_limit 0) (gt $conn_rate_limit 0) }}
tcp-request content reject if {{ $hostAcl }} {{ $location.HAMatchPath }}{{ if ne $location.HARateLimitWhiteList "" }} !{ src{{ $location.HARateLimitWhiteList }} }{{ end }}{{ if gt $conn_cur_limit 0 }} { sc1_conn_cur gt {{ $conn_cur_limit }} } ||{{ end }}{{ if gt $conn_rate_limit 0 }} { sc1_conn_rate gt {{ $conn_rate_limit }} } ||{{ end }} { always_false }
{{- end }}
{{- end }}
{{- end }}{{/* $server.HasRateLimit */}}

{{- if $server.UseHTTPS }}
{{- if $server.SSLRedirect }}
    redirect scheme https if {{ $hostAcl }}
{{- else }}
{{- range $location := $server.Locations }}
{{- if $location.Rewrite.SSLRedirect }}
    redirect scheme https if {{ $hostAcl }}{{ $location.HAMatchPath }}
{{- end }}{{/* $location.Rewrite.SSLRedirect */}}
{{- end }}{{/* range $location := $server.Locations */}}
{{- end }}{{/* if $server.SSLRedirect */}}
{{- end }}{{/* if $server.UseHTTPS */}}

{{- range $location := $server.Locations }}
{{- if ne $location.HAWhitelist "" }}
    http-request deny if {{ $hostAcl}} {{ $location.HAMatchPath }} !{ src{{ $location.HAWhitelist }} }
{{- end }}{{/* if ne $location.HAWhitelist "" */}}
{{- $listName := $location.Userlist.ListName }}
{{- if ne $listName "" }}
{{- $realm := $location.Userlist.Realm }}
    http-request auth {{ if ne $realm "" }}realm "{{ $realm }}" {{ end }}if {{ $hostAcl}} {{ $location.HAMatchPath }} !{ http_auth({{ $listName }}) }
{{- end }}{{/* if ne $listName "" */}}
{{- end }}{{/* range $location := $server.Locations */}}

{{- $appRoot := $server.RootLocation.Rewrite.AppRoot }}
{{- if ne $appRoot "" }}
    redirect location {{ $appRoot }} if {{ $hostAcl}} { var(txn.path) -m str / }
{{- end }}{{/* if ne $appRoot "" */}}

{{- range $location := $server.Locations }}
{{- if ne $location.Proxy.BodySize "" }}
    use_backend error413 if {{ $hostAcl}} { var(txn.path) -m beg {{ $location.Path }} } { req.body_size gt {{ sizeSuffix $location.Proxy.BodySize }} }
{{- end }}{{/* if */}}
{{- end }}{{/* range $location := $server.Locations */}}

{{- range $location := $server.Locations }}
{{- $rewriteTarget := $location.Rewrite.Target }}
{{- if ne $rewriteTarget "" }}
{{- if eq $rewriteTarget "/" }}
    reqrep ^([^\ :]*)\ {{ $location.Path }}/?(.*$) \1\ {{ $rewriteTarget }}\2 if {{ $hostAcl}} { var(txn.path) -m beg {{ $location.Path }} }
{{- else }}
    reqrep ^([^\ :]*)\ {{ $location.Path }}(.*$) \1\ {{ $rewriteTarget }}{{ if hasSuffix $location.Path "/" }}/{{ end }}\2 if {{ $hostAcl}} { var(txn.path) -m beg {{ $location.Path }} }
{{- end }}{{/* if eq $rewriteTarget */}}
{{- end }}{{/* if ne $rewriteTarget */}}
{{- end }}{{/* range $location := $server.Locations */}}

{{- if $server.UseHTTP }}
{{- if $server.HSTS }}
{{- $hsts := $server.HSTS }}
{{- if $hsts.Enable }}
    http-response set-header Strict-Transport-Security "max-age={{ $hsts.MaxAge }}{{ if $hsts.Subdomains }}; includeSubDomains{{ end }}{{ if $hsts.Preload }}; preload{{ end }}" if {{ $hostAcl}} from-https
{{- end }}
{{- else }}
{{- range $location := $server.Locations }}
{{- $hsts := $location.HSTS }}
{{- if $hsts.Enable }}
    http-response set-header Strict-Transport-Security "max-age={{ $hsts.MaxAge }}{{ if $hsts.Subdomains }}; includeSubDomains{{ end }}{{ if $hsts.Preload }}; preload{{ end }}" if from-https{{ $location.HAMatchTxnPath }}
{{- end }}
{{- end }}{{/* range $location := $server.Locations */}}
{{- end }}{{/* if $server.HSTS */}}
{{- end }}{{/* if $server.UseHttp */}}

{{- range $location := $server.Locations }}
{{- if not $location.IsRootLocation }}
    use_backend {{ $location.Backend }} if {{ $hostAcl}} { var(txn.path) -m beg {{ $location.Path }} }
{{- else }}
    use_backend {{ $location.Backend }} if {{ $hostAcl}}
{{- end }}{{/* not $location.IsRootLocation */}}
{{- end }}{{/* range $location := $server.Locations */}}

{{- end }}{{/* $server := $ing.HAServers */}}
    default_backend upstream-default-backend

######
###### Error pages
######
backend error413
    mode http
    errorfile 400 /usr/local/etc/haproxy/errors/413.http
    http-request deny deny_status 400
backend error495
    mode http
    errorfile 400 /usr/local/etc/haproxy/errors/495.http
    http-request deny deny_status 400
backend error496
    mode http
    errorfile 400 /usr/local/etc/haproxy/errors/496.http
    http-request deny deny_status 400
listen error503noendpoints
    bind *:8181
    mode http
    errorfile 503 /usr/local/etc/haproxy/errors/503noendpoints.http

######
###### Stats page
######
listen stats
    bind *:{{ $cfg.StatsPort }}{{ if $cfg.StatsProxyProtocol }} accept-proxy{{ end }}
    mode http
    stats enable
    stats realm HAProxy\ Statistics
{{- if ne $cfg.StatsAuth "" }}
    stats auth {{ $cfg.StatsAuth }}
{{- end }}
    stats uri /
    no log

######
###### Monitor URI
######
frontend healthz
    bind *:{{ $cfg.HealthzPort }}
    mode http
    monitor-uri /healthz
    no log
