name: build
on:
  push:
    branches:
    - master
    - 'release-*'
  pull_request:
    branches:
    - master
    - 'release-*'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-go@v3
      with:
        go-version: 1.19.10
    - uses: actions/checkout@v3
    - name: golangci-lint
      uses: golangci/golangci-lint-action@v3
    - name: Run build
      run: go build -o haproxy-ingress pkg/main.go
    - name: Run tests
      run: go test ./...
