name: build
on:
  push:
    branches:
    - master
    - 'release-*'
  pull_request:
    branches:
    - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-go@v1
      with:
        go-version: 1.17.6
    - uses: actions/checkout@v2
    - name: golangci-lint
      uses: golangci/golangci-lint-action@v2
    - name: Run build
      run: go build -o haproxy-ingress pkg/main.go
    - name: Run tests
      run: go test ./...
